<template>
  <div id="service">
    <fieldset class="groupbox-border">
      <legend class="groupbox-border">
        <i class="fas fa-dice-five"></i> {{ $t("Service") }}
      </legend>
      <div class="control-group">
        <div class="grid-service-container">
          <div>
            <router-link to="/form">
              <i class="fas fa-car-alt"> </i>
              <br />
            </router-link>
            <span>
              ຊຳລະທຳນຽມທາງ
            </span>
          </div>
          <div>
            <router-link to="/menutax">
              <i class="fas fa-archive"> </i>
              <br />
            </router-link>
            <span>
              ຊຳລະອາກອນ
            </span>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</template>
<style lang="scss" scoped>
@import "@/assets/scss/service/service.scss";
</style>
