@import "./variables.scss";




@font-face {
    font-family: FontName;
    src: url("./assets/fonts/NotoSerifLao-Regular.ttf") format("truetype");
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "FontName" !important;
  }
  
  * {
    box-sizing: border-box;
  }

  #app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
  }