// colors variable =======

$primary-color: #EF5353;
$secondary-color: #5B5B5B;
$semi-secondary-color: #707070;
$info-color: #f7fafc;
$border-color: rgb(240, 240, 240);
$enter-color: rgba(239, 83, 83, .3);
$primary-shadow-color: rgba(197, 9, 9, 1);
$secondary-shadow-color: rgba(0, 0, 0, .1);