.note {
  text-align: center;
  height: 40px;
  padding: 8px;
  border-radius: 3px;
  width: 100%;
  font-size: 15px;
  background: -webkit-linear-gradient(left, #0470c9, #007fe7);
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#head {
  text-align: center;
  margin: -6px auto;
}
#online-payment {
  /* width: 50%;
    margin: 50px auto; */
  margin-left: 15px;
  margin-right: 15px;
  overflow-y: auto;
  white-space: nowrap;
  height: 600px;
}

label {
  text-align: right;
  font-style: Bold;
}

.form-content {
  position: fixed;
  height: 100%;
  width: 78%;
  border: 1px solid #ced4da;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-content > .main-content {
  padding: 3px 20px 3% 20px;
  height: 550px;
  overflow-y: auto;
  white-space: nowrap;
}
.NewOnline {
  padding: 10px 10px 0px 0px;
  font-size: 13px;
}

#back:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(5, 5, 5);
}
#right {
  text-align: right;
}
.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 1%;
  width: 92%;
}
.search {
  width: 40%;
  margin: 10px auto;
}
.content {
  width: 90%;
  text-align: center;
  border-radius: 3px;
  height: 65%;
  margin: 10px auto;
  background-color: #f8ffff;
}

.header {
  height: 35px;
  background: -webkit-linear-gradient(left, #0678d6, #0584ec);
  color: #fff;
  border-radius: 3px;
  padding: 1%;
  margin-left: 5%;
  padding-left: 2%;
  margin-right: 5%;
  margin-top: 25px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#info > .form-content1 {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 90%;
  height: 80%;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-image: linear-gradient(
    -90deg,
    rgb(255, 255, 255),
    rgb(231, 231, 231)
  );
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#detail > .form-content1 {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 90%;
  height: 70%;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-image: linear-gradient(
    -90deg,
    rgb(255, 255, 255),
    rgb(231, 231, 231)
  );
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#success > .form-content1 {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 90%;
  height: 80%;
  padding: 15px;
  background-image: linear-gradient(
    -90deg,
    rgb(255, 255, 255),
    rgb(231, 231, 231)
  );
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#detail > .header {
  margin-top: 12px;
}
#info > .header {
  margin-top: 12px;
}
#success > .header {
  margin-top: 12px;
}
.form-control {
  background-color: rgb(255, 255, 255);
  text-align: center;
}
form {
  padding-right: 15px;
}

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #ee0979;
  color: white;
}

.row {
  margin: 5px auto;
  width: 100%;
}
/* Global CSS, you probably don't need that */

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.nav {
}

.pull-right {
  float: right;
}

a,
a:active {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #999;
}

/* Breadcrups CSS */

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  min-width: 180px;
  float: left;
  position: relative;
  background-color: #d9e3f7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 17px solid #d9e3f7;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step span:before {
  opacity: 0;
  content: "✔";
  position: absolute;
  top: -2px;
  left: -20px;
}

.arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #4caf50;
}
.arrow-steps .step.current1 {
  color: #fff;
  background-color: #388e3c;
}
.arrow-steps .step.current1:after {
  border-left: 17px solid #388e3c;
}
.arrow-steps .step.current2 {
  color: #fff;
  background-color: #43a047;
}
.arrow-steps .step.current2:after {
  border-left: 17px solid #43a047;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #4caf50;
}

.form-content > h5 {
  background-color: #2196f3;
  padding-top: 3px;
  padding-bottom: 4px;
  border-radius: 3px;
  width: 100%;
  color: white;
  text-align: center;
  padding-left: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.form-content > h5 > span {
  font-size: 14px;
}
