.search {
  width: 50%;
  margin: 20px auto;
}
.form-content {
  padding-top: 2%;
  border: 1px solid #ced4da;
  padding-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.note {
  text-align: center;
  height: 36px;
  background: -webkit-linear-gradient(left, #0470c9, #007fe7);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header {
  height: 40px;
  background: -webkit-linear-gradient(left, #0678d6, #0584ec);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  padding-top: 20px;
  border-radius: 3px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.billheader {
  height: 40px;
  background: -webkit-linear-gradient(left, #1f98fc, #4dadfc);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  padding-top: 20px;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnBill {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
input {
  text-align: center;
}

.info {
  height: 40px;
  background: -webkit-linear-gradient(left, #0678d6, #0584ec);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  padding-top: 20px;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(109, 90, 90, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#online-payment {
  /* width: 50%;
    margin: 50px auto; */
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  overflow-y: auto;
  white-space: nowrap;
  height: 600px;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}
.search {
  margin-top: -1px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
h6 {
  text-align: start;
  margin-left: 20px;
  margin-top: -10px;
}
#head{
  text-align: center;
  margin: -6px auto;
  padding-top:2px;
}
form {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 25px;
  text-align: end;
}
form .row {
  padding: 5px;
}
thead {
  color: white;
}
.table-wrapper {
  overflow: auto;
  white-space: nowrap;
}
.bg-primary1 {
  border-radius: 10px;
  background-color: #8ccbff;
}
th {
  border: 0.5px solid cornsilk;
  text-align: center;
  font-size: 13px;
  color: #0052cc;
}
td {
  font-size: 13px;
  text-align: center;
}
.bill {
  margin-left: 40px;
  margin-right: 40px;
}
table-wrapper {
  border-radius: 10px;
}
.form-control {
  background: white;
}
#button {
  padding-right: 20px;
  padding-left: 20px;
}
#small {
  font-size: 13px;
}
.space {
  padding: 50px;
}
#bottomInfo {
  margin-top: 50px;
}
#infolast{
  margin-bottom: 120px;
}
.input-group-text{
  font-size: 13px;
}