<template>
  <div id="setting">
    <fieldset class="groupbox-border">
      <legend class="groupbox-border"><i class="fas fa-tools"></i> {{$t('Setting')}}</legend>
      <div class="control-group">
        <div class="grid-setting-container">
          <div>
              <i class="fas fa-users">
              </i>
                <br>
              <span>
                  ລົງທະບຽນຜູ້ໃຊ້
              </span>
          </div>
          <div>
              <i class="fas fa-archive">               
              </i>
                <br>
              <span>
                  ກຸ່ມຜູ້ໃຊ້
              </span>
          </div>
          <div>
              <i class="fas fa-grip-horizontal">

              </i>
              <br>
              <span>
                  ເມນູ
              </span>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</template>
<style lang="scss" scoped>
@import "@/assets/scss/setting/setting.scss";
</style>