@import "../variables.scss";

.header-lvb {
  overflow: hidden;
  background: rgb(2,0,36);
  background: -webkit-linear-gradient(left, #05589c, #007fe7);
  padding: 5px 5px 0px;
  height: 60px;
}
#logout{
  color: white;
}
#logout:hover{
  color: white;
}
#btn-click{
  color: white;
}

#btn-click:hover{
  color: white;
}

.header-lvb a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 25px;
  border-radius: 4px;
}

.header-lvb a.logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.header-lvb a:hover {
  background-color: rgba(50, 96, 180, 0.658);
  color: #ffffff;
}

.header-lvb a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header-lvb a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.header-nav-close {
  margin-left: 80px;
}

.header-nav-open{
  margin-left: 250px;
}

.header-lvb .dropdown:hover {
  background-color: rgba(50, 96, 180, 0.658);
  color: #ffffff;
}

.dropdown-language {
  float: left;
  overflow: hidden;
}

.dropdown-language .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 10px 16px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 60px;
}

.header-lvb .dropdown-content a:hover {
  background-color: #ebebeb;
  color: black;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-language-open{
  display: block;
}
// .dropdown-language:hover .dropdown-content {
//   display: block;
// }

.imgLang{
  width: 20px;
  height: 20px;
}

.spanLang {
  margin-top: -10px;
}
