@import "../variables.scss";

#app{
  background-color: beige;
}

 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
  }

   .sidenav > ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
  }

  // .sidenav > ul > li {
  //     padding: 5px;
  // }

   .sidenav > ul > li > a {    
    font-size: 18px;
    color: black;
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 20px;
  }

   .sidebar-logo {
    flex: 1 1 auth;
    position: relative;
    width: 9rem;
    height: auto;
    transition: all .4s;
     img {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

 .text-center{
      text-align: center;
  }

  @media screen and (max-height: 450px) {
    // .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

   .sidenavOpen {
    width: 250px;;
}
 .mainOpen {
    margin-left: 250px;
}

 .sidenavClose {
    width: 70px;
}
 .mainClose {
    margin-left: 70px;
}
 .main {
    padding-left: 1%;;    
}

 .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: left;    
    padding-bottom: 15px;
    padding-top: 5px;
    background-color: #00174a;
}

 .card-no-shadow {    
    max-width: 300px;
    margin: auto;
    text-align: center;    
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: #00174a;
}
  
  .title {
    color: #ffffff;
    font-size: 16px;
  }

//   .img-profile-sidebarClose{
      
//   }

 .img-profile-sidebarOpen{
    border-radius: 50%;
    width: 20%;
    height: 20%;
    float: left;
    margin-right: 4%;
 }

  .img-profile-sidebarCose{
    border-radius: 50%;
    width: 70%;
    height: 60%;    
    margin-right: 4%;
 }   

  .fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

 .icon-bar {
  width: 70px;
  // background-color: #555;
}

 .icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;  
  font-size: 40px;
}

 .icon-bar a:hover {
  background-color: rgb(226, 226, 226);
}

 .active {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,198,1) 0%, rgb(28, 32, 231) 100%);
  color:#ffffff;
}

 li a {
  display: flex;
  align-items: center;
}

 .menu-list {
  list-style: none;
}

 .icon-menu-open {
  color: dimgray;
  font-size: 20px;
}

.icon-menu-close {
  color: dimgray;
  font-size: 30px;
}

// a:hover,
// a:active,
// .router-link-active {
//   //background-color: rgb(226, 226, 226);
// }

.menuname {
  color: dimgray;
  font-size: 15px;
  margin-top: 0px;
}
