<script>
    export default {
        data() {
            return {
                show: false,
                closable: true,
                type: 'default',
                title: {
                    content: '',
                    cssClass: '',
                    style: {}
                },
                message: {
                    content: '',
                    cssClass: '',
                    style: {}
                },
                buttons: [],
                closeBtn: {
                    cssClass: '',
                    style: {}
                },
                msgBody: {
                    cssClass: '',
                    style: {}
                },
                msgFooter: {
                    cssClass: '',
                    style: {}
                }
            }
        },
        methods: {
            dismiss(event) {
                if(!this.closable && event.target.getAttribute('role') != 'close-button') {
                    return;
                }
                this.show = false;
                document.body.style.overflow = 'auto';
            },
            notAllowTouchMove(event) {
                event.preventDefault();
            }
        }
    }
</script>
<template>
<div @touchmove="notAllowTouchMove($event)">
    <div class="legend-modal-addproduct" v-if="show">
      <div class="legend-modal-content-addproduct animate-addproduct">
        <div class="legend-container" style="padding:0">
          <div class="window-addproduct">
            <div class="window-caption-addproduct">
              <span class="title">
                <i class= "fas fa-exclamation-triangle" style="color:yellow"></i> ຄຳເຕືອນ
              </span>
              <div class="buttons">
                <span class="btn-close"></span>
              </div>
            </div>
            <div class="window-content-addproduct">
              <div class="message-body">
              <div class="message-header">{{ title.content }}</div>
              <div class="message-detail">{{ message.content }}</div>
              </div>    
              <div class="modal-footer-addproduct"> 
                  <a v-for="(item,index) in buttons" :key="index"
                  :class="item.cssClass"
                  :style="item.style"
                  v-on:click="item.action"
                  > {{item.label}} </a>   &nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>


<style scoped>
.legend-modal-addproduct {
  z-index: 3;
  padding-top: 53px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.window-addproduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: #ffffff;
  color: #1d1d1d;
  border: 1px #e9e9e9 solid;
  z-index: 1;
  border: none;
}
.window-caption-addproduct {
  height: 40px;
  padding: 5px 15px 0 15px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,198,1) 0%, rgb(28, 32, 231) 100%);
  color: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #e5e5e5;
}


.legend-modal-content-addproduct {
    margin: 10% auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    overflow: hidden;
    border-radius: 5px;
    }

.window-content {
  overflow: hidden;
  height: calc(100% - 2.25rem);
}
.message-body {
position: relative;
    padding: 20px;
}
.message-header {
  font-size: 20px;
}
.message-detail {
  font-size: 14px;
}
.modal-footer-addproduct {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.animate-addproduct {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.btn.btn-save-modal-addproduct {
  width: 80px;
  height: 32px;
  border: 1px solid #0063b1;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,198,1) 0%, rgb(28, 32, 231) 100%);
  color: #ffffff;
}

.btn.btn-cancel-addproduct {
  width: 80px;
  height: 32px;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  color: #0063b1;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 1px !important;
  font-size: 13px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn.btn-cancel-addproduct:hover {
  border: 1px solid #0063b1;
  color: #0063b1;
}

.btn.btn-save-modal-addproduct:hover {
  border: 2px solid #004d8a;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,198,1) 0%, rgb(28, 32, 231) 100%);
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1%;
}

.window-content-addproduct {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
</style>