@import "../variables.scss";

#setting{
    margin-top: 1%;
}

.grid-setting-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    //background-color: #2196F3;
    padding: 10px;
  }
  
.grid-setting-container > div {
    //background-color: rgba(255, 255, 255, 0.8);
    border : 1px solid #ddd;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.grid-setting-container > div > i {   
    font-size: 80px;
    color: dodgerblue;
}

fieldset.groupbox-border {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 1.2em 1.2em 1.2em 1.2em !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.groupbox-border {
    font-size: 2.2em !important;
    font-weight: bold !important;
    text-align: center !important;
    width:auto;
    padding:0px 10px 0px 10px;
    border-bottom:none;
    color: dodgerblue;
    
}