<template>
  <div id="header">
    <div class="header-lvb">
      <a
        id="btn-click"
        @click="$emit('btnClick', !statusNav), (statusNav = !statusNav)"
        class="logo"
      >
        <span>{{ statusNav ? "&#9776;" : "&times;" }}</span>
        {{ $t("LaovietBank") }}
      </a>
      <div class="header-right">
        <div class="dropdown-language">
          <a class="dropbtn" @click="opendropLang = !opendropLang">
            <img :src="this.srcImg" class="imgLang" alt />
            <span>
              {{
                $t("language." + this.$store.getters["language/getlanguage"])
              }}
            </span>
            <i
              :class="[opendropLang ? 'fa fa-caret-up' : 'fa fa-caret-down']"
            ></i>
          </a>
          <div
            :class="[
              'dropdown-content',
              opendropLang ? 'dropdown-language-open' : ''
            ]"
          >
            <a @click="changeLanguage('la')"
              ><img src="@/assets/Flag/la.png" class="imgLang" alt />
              <span class="spanLang"> {{ $t("language.la") }} </span></a
            >
            <a @click="changeLanguage('vi')"
              ><img src="@/assets/Flag/vi.png" class="imgLang" alt />
              <span class="spanLang"> {{ $t("language.vi") }} </span></a
            >
            <a @click="changeLanguage('en')"
              ><img src="@/assets/Flag/en.png" class="imgLang" alt />
              <span class="spanLang"> {{ $t("language.en") }} </span></a
            >
          </div>
        </div>
        <a id="logout" @click="Logout()">
          <i class="fas fa-power-off"></i> {{ $t("Logout") }}
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  name: "header",
  data() {
    return {
      statusNav: true,
      opendropLang: false,
      langImg: "",
      srcImg: require("../assets/Flag/" +
        this.$store.getters["language/getlanguage"] +
        ".png")
    };
  },
  watch: {
    langImg(val) {
      this.srcImg = require("../assets/Flag/" + val + ".png");
    }
  },
  methods: {
    changeLanguage(lang) {
      this.$i18n.locale = lang;
      this.$store.dispatch("language/setLanguage", lang);
      this.langImg = lang;
      this.opendropLang = false;
    },
    ...mapActions("authentication", ["signout"]),
    Logout() {
      this.$Message
        .confirm(this.$t("Logout"), this.$t("Areyousuretologout")) // success // warning
        .then(res => {
          console.log(res);
          this.signout();
          this.$router.push("/signin");
        });
    }
  }
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/header/Header.scss";
</style>
