<template>
  <div
    id="mySidenav"
    :class="['sidenav', statusNav ? 'sidenavOpen' : 'sidenavClose']"
  >
    <div :class="[statusNav ? 'card1' : 'card-no-shadow']">
      <img
        srcset="@/assets/img/tony.jpg"
        alt="John"
        :class="[
          statusNav ? 'img-profile-sidebarOpen' : 'img-profile-sidebarCose'
        ]"
      />
      <span class="title" v-show="statusNav">{{ this.authUser.user }}</span>
      <br />
      <span class="title" v-show="statusNav">Admin or Staff</span>
    </div>

    <ul v-if="statusNav" class="menu-list">
      <li>
        <a href="/lvb/" class="">
          <i class="fa fa-home icon-menu-open"></i>
          &nbsp;&nbsp;<span class="menuname">ໜ້າຫຼັກ</span>
        </a>
      </li>
      <li>
        <a href="/lvb/service" class="">
          <i class="fas fa-dice-five icon-menu-open"></i>
          &nbsp;&nbsp;<span class="menuname">ບໍລິການ</span>
        </a>
      </li>
      <li>
        <a href="/lvb/setting" class="">
          <i class="fas fa-tools icon-menu-open"></i>
          &nbsp;&nbsp;<span class="menuname">Setting</span>
        </a>
      </li>
    </ul>
    <div v-else class="icon-bar">
      <a class="" href="/lvb/">
        <i class="fa fa-home icon-menu-close"></i>
      </a>
      <a href="/lvb/setting">
        <i class="fas fa-dice-five icon-menu-close"></i>
      </a>
      <a href="/lvb/setting">
        <i class="fas fa-tools icon-menu-close"></i>
      </a>
    </div>
  </div>
</template>

<script>
import code from "@/helper/fuck.js";
export default {
  props: ["statusNav"],
  data() {
    return {
      authUser: JSON.parse(code.from(localStorage.getItem("thor")))
    };
  }
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/sidebars/SideIndex.scss";
</style>
