<template>
  <div class="AddUser">
    <CRow>
      <CCol sm="3"> </CCol>
      <CCol sm="6">
        <CCard id="card">
          <CCardHeader class="ls">
            <h4>
              ເພີ່ມຜູ່ໃຊ້ພາຍໃນລະບົບ
            </h4>
          </CCardHeader>
          <CCardBody>
            <CForm>
              <CInput placeholder="ຊື່ຜູ່ໃຊ້">
                <template #prepend-content><CIcon name="cil-user"/></template>
              </CInput>
              <CInput placeholder="ອີເມວ" type="email" autocomplete="email">
                <template #prepend-content
                  ><CIcon name="cil-envelope-closed"
                /></template>
              </CInput>
              <CInput
                placeholder="ລະຫັດຜ່ານ"
                type="password"
                autocomplete="current-password"
              >
                <template #prepend-content
                  ><CIcon name="cil-shield-alt"
                /></template>
              </CInput>
              <div class="form-group form-actions">
                <CCol sm xs="12" class="text-right mt-3">
                  <CButton type="submit" size="lg" color="info">
                    <CIcon name="cil-check" /> ເພີ່ມຜູ່ໃຊ້
                  </CButton>
                </CCol>
              </div>
            </CForm>
          </CCardBody>
        </CCard>
      </CCol>
      <CCol sm="3"> </CCol>
    </CRow>
  </div>
</template>

<script>
export default {
  name: "AddUser",
  data() {
    return {};
  }
};
</script>

<style scoped>
#card {
  text-align: center;
  size: 30px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.AddUser {
  text-align: center;
}
.ls {
  background-image: linear-gradient(
    to right,
    rgb(0, 118, 214),
    rgb(55, 158, 255)
  );
  color: white;
}
</style>
