<template>
  <div id="manual">
    <div class="register-form">
      <div class="form1">
        <div class="note">
          <h4>
            {{ $t("offlinePayment") }}
          </h4>
        </div>
        <div class="form-content">
          <fieldset v-show="!next">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="last_name">ຊື່ບັນຊີຂອງລູກຄ້າ</label>
                <input
                  type="text"
                  class="form-control"
                  name="last_name"
                  id=""
                  placeholder="ກະລຸນາປ້ອນຊື່ບັນຊີຂອງລູກຄ້າ"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="first_name">ເລກບັນຊີຂອງລູກຄ້າ</label>
                <input
                  type="number"
                  class="form-control"
                  name=""
                  id="first_name"
                  placeholder="xxxx-xxxx-xxxx-xxxx"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="last_name">ເລກທີທຸລະກຳ</label>
                <input
                  type="number"
                  class="form-control"
                  name="last_name"
                  id=""
                  placeholder="ເລກທີທຸລະກຳ"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="first_name">ເລກ Tax_ID</label>
                <input
                  type="text"
                  class="form-control"
                  name=""
                  id="first_name"
                  placeholder="ກະລຸນາປ້ອນເລກ TAX"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="last_name">ເລກທີການນຳໃຊ້</label>
                <input
                  type="number"
                  class="form-control"
                  name="last_name"
                  id=""
                  placeholder="ກະລຸນາປ້ອນເລກທີການນຳໃຊ້"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="last_name">ວັນທີການນນຳໃຊ້</label>
                <input
                  type="date"
                  class="form-control"
                  name="last_name"
                  id=""
                  placeholder="xxxx-xxxx-xxxx-xxxx"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="last_name">ເລກທີໃບບິນ</label>
                <input
                  type="number"
                  class="form-control"
                  name="last_name"
                  id=""
                  placeholder="ກະລຸນາປ້ອນເລກທີໃບບິນ"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="first_name">ວັນທີຈ່າຍ</label>
                <input
                  type="date"
                  class="form-control"
                  name=""
                  id="first_name"
                  placeholder="ກະລຸນາເລືອກວັນທີຈ່າຍ"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="last_name">ຊື່ຜູ່ຈ່າຍ</label>
                <input
                  type="text"
                  class="form-control"
                  name="last_name"
                  id=""
                  placeholder="ກະລຸນາປ້ອນຊື່ຜູ່ຈ່າຍ"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="first_name">ໄດ້ຮັບເງິນຈາກ</label>
                <input
                  type="text"
                  class="form-control"
                  name=""
                  id="first_name"
                  placeholder="ໄດ້ຮັບເງິນຈາກ..."
                />
              </div>
              <div class="form-group col-md-4">
                <label for="last_name">ມອບເຂົ້າຄັງເງິນ</label>
                <input
                  type="number"
                  class="form-control"
                  name="last_name"
                  id=""
                  placeholder="ກະລຸນາເລືອກຄັງເງິນ"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="last_name">ເລກບັນຊີຄັງເງິນ</label>
                <input
                  type="number"
                  class="form-control"
                  name="last_name"
                  id=""
                  placeholder="xxxx-xxxx-xxxx-xxxx"
                />
              </div>
            </div>

            <div class="success-btn">
              <button
                type="button"
                id="btn"
                class="brn btn-primary"
                v-on:click="change()"
              >
                ດຳເນີນການຕໍ່
                <i class="fa fa-check-circle"> </i>
              </button>
            </div>
          </fieldset>
          <fieldset v-show="next">
            <table class="table">
              <thead>
                <tr>
                  <td>
                    <strong>
                      {{ $t("No") }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ $t("Nameoflist") }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ $t("Accno") }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ $t("Amount") }}
                    </strong>
                  </td>
                  <td>
                    {{ $t("Manage") }}
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(row, index) in rows" :key="index">
                  <td>
                    <span>{{ index + 1 }}</span>
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      v-model="row.title"
                      placeholder="ກະລຸນາປ້ອນຊື່ລາຍການ"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control"
                      v-model.number="row.acc_name"
                      placeholder="ກະລູນາປ້ອນເລກບັນຊີການຊຳລະ"
                    />
                  </td>
                  <td>
                    <currency-input
                      class="form-control"
                      v-model.number="row.amount"
                      currency="LAK"
                      locale="de"
                    />
                  </td>
                  <td>
                    <button
                      @click.prevent="removeElement(row)"
                      type="button"
                      id="del"
                      class="brn btn-danger"
                    >
                      <i class="fa fa-trash"> </i>

                      {{ $t("Del") }}
                    </button>
                  </td>
                </tr>
                <td></td>
                <td></td>
                <td></td>
                <td id="total">
                  <strong
                    ><strong> {{ $t("Total") }} :</strong>
                    {{ totalAmount }}</strong
                  >
                </td>
              </tbody>
            </table>
            <!-- {{ rows }}
            {{ totalAmount }} -->
            <div class="btn-add">
              <button
                @click.prevent="addRow"
                type="button"
                id="btn"
                class="brn btn-info"
              >
                <i class="fa fa-plus"> </i>
                {{ $t("AddList") }}
              </button>
            </div>
            <span></span>
            <div class="success-btn">
              <button
                @click.prevent="peyment()"
                type="button"
                id="btn"
                class="brn btn-success"
              >
                <CIcon name="cil-check" />&nbsp;
                {{ $t("Accept") }}
                <i class="fa fa-check-circle"> </i>
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "manual",
  data() {
    return {
      next: false,
      selected: "A",
      info: null,
      total: 0,
      rows: [{ title: "", acc_name: "", amount: 0 }]
    };
  },
  computed: {
    totalAmount: function() {
      var sum = 0;
      this.rows.forEach(e => {
        var amount = parseInt(e.amount, 10);
        sum += amount;
      });
      return (
        sum.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,") + " ກີບ"
      );
      // return sum;
    }
  },
  methods: {
    change: function() {
      this.next = true;
    },
    addRow: function() {
      this.rows.push({ title: "", acc_name: "", amount: 0 });
    },
    removeElement: function(row) {
      var index = this.rows.indexOf(row);
      this.rows.splice(index, 1);
    },
    peyment() {
      this.$Message
        .confirm(this.$t("Payment"), this.$t("Accept")) // success // warning
        .then(res => {
          console.log(res);
        });
    }
  },
  components: {},
  mounted() {
    this.$axios
      .get("https://api.coindesk.com/v1/bpi/currentprice.json")
      .then(response => (this.info = response));
  }
};
</script>

<style lang="scss" scoped>
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
.success-btn {
  text-align: end;
}
#manual {
  font-family: phetsarath OT;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
#total {
  text-align: start;
}
td {
  text-align: left;
}
#manual li {
  display: inline-block;
  margin: 0 10px;
}
.column1 {
  float: left;
  width: 35%;
  padding: 10px;
  height: 100%;
  text-align: center;
  padding: 5%;
  border-radius: 8px;
  /* Should be removed. Only for demonstration */
}

.success-btn {
  text-align: end;
  padding-right: 2%;
  padding-top: 2%;
}
.add-btn {
  text-align: end;
  padding-right: 2%;
  padding-top: 2%;
}
#btn1 {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  margin-top: 32px;
  padding-top: 6px;
  padding-bottom: 6px;
}
#del {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}
#btn {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btnSubmit {
  padding-bottom: 3%;
}
.row {
  padding-left: 2%;
  padding-right: 2%;
}
legend {
  text-align: center;
}
label {
  text-align: none;
}
#h2 {
  margin-top: 20px;
  font-family: phetsarath oT;
}
.btnSubmit {
  text-align: center;
}
.register-form {
  padding-left: 2%;
  padding-right: 2%;
}
.note {
  text-align: center;
  height: 60px;
  background: -webkit-linear-gradient(left, #083ce6, #026dc4);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-content {
  padding-top: 2%;
  padding-left: 2%;
  border: 1px solid #ced4da;
  padding-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-control {
  border-radius: 1.5rem;
}
.btnSubmit {
  border: none;
  border-radius: 1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #0062cc;
  color: #fff;
}
.form {
  font-family: phetsarath OT;
}
</style>
