<template>
  <div class="NewOnline">
    <div class="online">
      <div id="online-payment">
        <div class="form-content">
          <h5><span>ລະບົບການຊຳລະພາສີອາກອນ</span></h5>

          <div class="main-content">
            <div class="container">
              <div class="wrapper">
                <div class="arrow-steps clearfix">
                  <div class="step current">
                    <span
                      ><i class="fa fa-search"></i> ຂັ້ນຕອນທີ 1:
                      ຄົ້ນຫາໃບບິນ</span
                    >
                  </div>
                  <div v-bind:class="stepclass2">
                    <span
                      ><i class="fas fa-file-invoice"></i> ຂັ້ນຕອນທີ 2:
                      ກວດສອບລາຍລະອຽດ</span
                    >
                  </div>
                  <div v-bind:class="stepclass3">
                    <span>
                      <i class="fas fa-check"></i> ຂັ້ນຕອນທີ 3:
                      ສຳເລັດການຊຳລະ</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- start step 1 -->
            <div class="search" v-if="step == 1">
              <span>ລະຫັດລູກຄ້າ:</span>
              <div class="input-group">
                <input type="text" class="form-control form-control-sm" />
                <div class="input-group-append">
                  <button
                    class="btn btn-sm btn-danger"
                    @click="sentData()"
                    type="button"
                  >
                    <i class="fa fa-search"></i>
                    ຄົ້ນຫາໃບບິນ
                  </button>
                </div>
              </div>
            </div>

            <div id="info" v-if="step === 1">
              <div class="header">I {{ $t('infobill') }}</div>
              <div id="content" class="form-content1">
                <form>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຊື່ ນາມສະກູນ ລູກຄ້າ :
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຊື່ບັນຊີຜູ້ໃຫ້ບໍລິການ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ທີ່ຢູ່ລູກຄ້າ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຊື່ຜູ່ໃຫ້ບໍລິການ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!-- end step 1 -->

            <!-- start step 2 -->
            <div id="detail" v-if="step === 2">
              <div class="header">II {{ $t('detial') }}</div>
              <div id="content" class="form-content1">
                <form>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຮູບແບບການຊຳລະ:
                    </label>
                    <div class="col-sm-4">
                      <select class="form-control form-control-sm ">
                        <option selected>ເລືອກຮູບແບບການຊຳລະ</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ເລກບັນຊີການຊຳລະ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                    <button class="btn btn-primary btn-sm">
                      <i class="fas fa-check"></i> ການກວດສອບ
                    </button>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຊື່ບັນຊີ :
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ເລກ CIF:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label"
                      >ບັດປະຈຳຕົວ/ທະບຽນວິສະຫະກີດ/ID :
                    </label>
                    <div class="col-sm-3">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຍອດເຫຼືອ :
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຈຳນວນຊຳລະ(LAK) :
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-3 col-form-label"
                      >ຄວາມສົມດູນ ຂອງການແລກປ່ຽນ(LAK):
                    </label>
                    <div class="col-sm-3">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຄ່າທຳນຽມການບໍລິການ :
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >VAT:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ລວມຄ່າທຳນຽມ :
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ໂບນັດລູກຄ້າ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                  <hr />
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label"
                      >ຈຳນວນເງິນເກັບນຳລູກຄ້າ (LAK) :
                    </label>
                    <div class="col-sm-3">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ທລວ ໄດ້ຮັບຜົນ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label"
                      >ເລກບັນຊີຜູ່ໃຫ້ບໍລິການ :
                    </label>
                    <div class="col-sm-3">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຜູ້ບໍລິການໄດ້ຮັບຜົນ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label"
                      >ເນື້ອໃນການຊຳລະ :
                    </label>
                    <div class="col-sm-3">
                      <textarea class="form-control form-control-sm"></textarea>
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ໝາຍເຫດ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!-- end step 2 -->

            <!-- step 3 -->
            <div id="success" v-if="step === 3">
              <div class="header">III {{ $t('success') }}</div>
              <div id="content" class="form-content1">
                <form>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຊື່ ນາມສະກູນ ລູກຄ້າ :
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                        value=""
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຊື່ບັນຊີຜູ້ໃຫ້ບໍລິການ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ທີ່ຢູ່ລູກຄ້າ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"
                      >ຊື່ຜູ່ໃຫ້ບໍລິການ:
                    </label>
                    <div class="col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="inputEmail3"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!-- end step 3 -->

            <div class="footer">
              <div class="row">
                <div class="col-sm-5">
                  <button
                    @click.prevent="back()"
                    id="back"
                    class="btn btn-primary"
                  >
                    <i class="fa fa-ship"></i> ກັບຄືນ
                  </button>
                </div>

                <div class="col-sm-5" id="right">
                  <button
                    @click.prevent="comfirm()"
                    id="continues"
                    class="btn btn-success"
                  >
                    <i class="fa fa-check"></i> ດຳເນີນການຕໍ່
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NewOnline',
  data () {
    return {
      totalstep: 3,
      step: 1,
      stepclass2: 'step',
      stepclass3: 'step'
    }
  },
  methods: {
    comfirm: function () {
      if (this.step < 3) {
        this.step++
        if (this.step === 2) {
          this.stepclass2 = 'step current2'
        }
        if (this.step === 3) {
          this.stepclass2 = 'step current2'
          this.stepclass3 = 'step current1'
        }
      }
    },
    back: function () {
      if (this.step > 1) {
        this.step--
        if (this.step === 1) {
          this.stepclass3 = 'step'
          this.stepclass2 = 'step'
        }
        if (this.step === 2) {
          this.stepclass3 = 'step'
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/Tax/NewTaxPayment.scss';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
</style>
