<template>
  <!-- Another variation with a button -->
  <div class="online">
    <div id="online-payment">
      <div class="note">
        <h6 id="head">{{ $t("onlinepayment") }}</h6>
      </div>
      <div class="form-content">
        <div class="search">
          <span>ລະຫັດລູກຄ້າ:</span>
          <div class="input-group">
            <input type="text" class="form-control" v-model="billID" />
            <div class="input-group-append">
              <button class="btn btn-danger" @click="sentData()" type="button">
                <i class="fa fa-search"></i>
                ຄົ້ນຫາໃບບິນ
              </button>
            </div>
          </div>
        </div>
        <div class="header">
          <h6>I. {{ $t("infobill") }}</h6>
        </div>
        <form>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຊື່ ນາມສະກູນ ລູກຄ້າ :</div>
                </div>
                <input type="text" class="form-control" :value="data.name" readonly />
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຊື່ບັນຊີຜູ້ໃຫ້ບໍລິການ:</div>
                </div>
                <input type="text" class="form-control" :value="data.list" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ທີ່ຢູ່ລູກຄ້າ:</div>
                </div>
                <input type="text" class="form-control" :value="data.amount" />
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຊື່ຜູ່ໃຫ້ບໍລິການ:</div>
                </div>
                <input type="text" class="form-control" :value="data.id" />
              </div>
            </div>
          </div>
        </form>
        <div class="bill">
          <div class="billheader">
            <h6>{{ $t("bill") }}</h6>
          </div>
          <div class="table-wrapper">
            <table class="table table-striped table-hover">
              <thead class="bg-primary1">
                <tr>
                  <th>
                    <input type="checkbox" name id />
                  </th>
                  <th>STT</th>
                  <th>ລະຫັດໃບບິນ</th>
                  <th>ເຊັນຊຳລະ</th>
                  <th>ຈຳນວນເງິນ</th>
                  <th>ປະເພດເງິນ</th>
                  <th>ເນື້ອໃນ</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="checkbox" name id />
                  </td>
                  <td>1</td>
                  <td>
                    <a href="#">
                      <img src="/examples/images/avatar/1.jpg" class="avatar" alt="Avatar" />
                      Michael Holz
                    </a>
                  </td>
                  <td>04/10/2013</td>
                  <td>Admin</td>
                  <td>
                    <span class="status text-success">•</span> Active
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button id="btnBill" @click="postData()" class="btn btn-danger">
            <i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;
            ພິຈາລະນາໃບບິນ
          </button>
        </div>
        <div class="info">
          <h6>II. {{ $t("info") }}</h6>
        </div>
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຮູບແບບການຊຳລະ:</div>
                </div>
                <select class="browser-default custom-select">
                  <option selected>ເລືອກຮູບແບບການຊຳລະ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ເລກບັນຊີການຊຳລະ:</div>
                </div>
                <input type="text" class="form-control" value="8393473838394874" readonly />
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-2">
                <button id="button" class="btn btn-success">ການກວດສອບ</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຊື່ບັນຊີ :</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ເລກ CIF :</div>
                </div>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ເລກບັດປະຈຳຕົວ/ເລກທະບຽນວິສະຫະກີດ/ID :</div>
                </div>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຍອດເຫຼືອ :</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="small">ຄວາມສົມດູນ ຂອງການແລກປ່ຽນ(LAK):</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຈຳນວນຊຳລະ(LAK) :</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ປະເພດຄ່າທຳນຽມ:</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຄ່າທຳນຽມການບໍລິການ :</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">VAT:</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ລວມຄ່າທຳນຽມ:</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ໂບນັດລູກຄ້າ:</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="row" id="bottomInfo">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຈຳນວນເງິນເກັບນຳລູກຄ້າ (LAK):</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ທລວ ໄດ້ຮັບຜົນ:</div>
                </div>
                <input type="text" class="form-control" value="102520525512" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ເລກບັນຊີຜູ່ໃຫ້ບໍລິການ :</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">ຜູ້ໃຫ້ບໍລິການໄດ້ຮັບຜົນ:</div>
                </div>
                <input type="text" class="form-control" readonly />
              </div>
            </div>
          </div>
          <div class="row" id="infolast">
            <div class="col-sm-12">
              <div class="input-group mb-2">
                <div class="input-group-text">ເນື້ອໃນການຊຳລະ:</div>
                <textarea class="form-control"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "online",
  data() {
    return {
      data: [],
      data1: null,
      billID: null
    };
  },
  mounted() {},
  methods: {
    postData() {
      var url = "http://localhost:3000/books/" + this.billID;
      axios
        .put(url, {
          params: {
            id: this.billID,
            lname: this.lname,
            amount: this.data.amount,
            list: this.data.list
          }
        })
        .then(response => console.log(response));
    },
    sentData() {
      var url = "http://localhost:3000/books/" + this.billID;
      axios.get(url).then(response => (this.data = response.data));
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "@/assets/scss/Tax/onlinepayment.scss";
/* Styles for wrapping the search box */
</style>
