<template>
  <div id="signin">
    <div class="_container">
      <div class="log-item">
        <div class="ball-item-box">
          <div class="ball-slite sleft">
            <transition-group enter-active-class="animated zoomIn">
              <span class="ball b1" key="1" v-if="startUp"></span>
              <span class="ball b2" key="2" v-if="startUp"></span>
              <span class="ball b3" key="3" v-if="startUp"></span>
              <span class="ball b4" key="4" v-if="startUp"></span>
              <span class="ball b5" key="5" v-if="startUp"></span>
            </transition-group>
          </div>
          <div class="ball-slite sright"></div>
        </div>
        <div :class="['log-item-inside', 'log-desktop']">
          <div class="splite _left">
            <div class="sign-bg-box">
              <img src alt srcset="@/assets/img/signin-bg.jpg" class="bg" draggable="false" />
            </div>
          </div>
          <div class="splite _right">
            <div class="signin-panel">
              <div class="signin-logo-box">
                <transition
                  enter-active-class="animated rotateIn"
                  leave-active-class="animated zoomOutUp"
                >
                  <div class="signin-logo" v-if="startUp">
                    <img src="@/assets/img/Logo-LVB-HD.png" alt />
                  </div>
                </transition>
                <div class="alert-box">
                  <transition
                    enter-active-class="animated bounceIn"
                    leave-active-class="animated bounceOut"
                  ></transition>
                </div>
              </div>
              <div class="signin-box">
                <transition
                  enter-active-class="animated fadeIn"
                  leave-active-class="animated zoomOutUp"
                >
                  <form class="signin-insider" @submit.prevent="go" v-if="startUp">
                    <div :class="['gp-control', $v.authState.user.$error ? 'err' : 'valid']">
                      <div class="input-icon-box">
                        <span class="input-ico">
                          <i class="fas fa-user" for="u568"></i>
                        </span>
                      </div>
                      <input type="text" id="u568" v-model.trim="$v.authState.user.$model" />
                      <label for="u568" :class="floatUser">User</label>
                    </div>
                    <div :class="['gp-control', $v.authState.password.$error ? 'err' : 'valid']">
                      <div class="input-icon-box">
                        <span class="input-ico">
                          <i class="fas fa-unlock-alt" for="p568"></i>
                        </span>
                      </div>
                      <input type="password" id="p568" v-model.trim="$v.authState.password.$model" />
                      <label for="p568" :class="floatPwd">Password</label>                      
                    </div>
                    
                    <button type="submit" :class="['btn-login-desktop']" role="button">SIGN IN</button>
                  </form>
                </transition>
              </div>
              <div id="signin-footer">
                <div class="footer-panel">
                  <span class="copyright">Copyright &copy; 2020</span> |
                  <span class="band">LVB IT CENTER</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      startUp: false,
      authState: {
        user: "",
        password: ""
      },
      floatUser: "",
      floatPwd: "",
      submitStatus: null
    };
  },
  validations: {
    authState: {
      user: {
        required
      },
      password: {
        required,
        minLength: minLength(4)
      }
    }
  },
  watch: {
    "authState.user"(val) {
      if (val != "") this.floatUser = "floating-top";
      else this.floatUser = "";
    },
    "authState.password"(val) {
      if (val != "") this.floatPwd = "floating-top";
      else this.floatPwd = "";
    }
  },
  mounted() {
    if (this.authState.user) this.floatUser = "floating-top";
    else this.floatUser = "";

    if (this.authState.password) this.floatPwd = "floating-top";
    else this.floatPwd = "";

    setTimeout(() => {
      this.startUp = true;
    }, 300);
  },
  methods: {
    ...mapActions("authentication", ["setAuthData"]),
    go() {
      this.$v.$touch();            
      if (!this.$v.$invalid) {
        console.log(JSON.stringify(this.authState));
        this.setAuthData(JSON.stringify(this.authState));
        this.$router.push('/');
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/SignIn.scss";
</style>
