<template>
  <div>
    <Header @btnClick="closeNav" />
    <LeftMenu :statusNav="statusNav" />
    <div id="main" :class="['main', statusNav ? 'mainOpen' : 'mainClose']">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import LeftMenu from "@/components/SideIndex.vue";
import Header from "@/components/Header.vue";
export default {
  components: {
    LeftMenu,
    Header
  },
  data() {
    return {
      statusNav: true
    };
  },
  methods: {
    closeNav: function(val) {
      this.statusNav = val;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/sidebars/SideIndex.scss";
</style>
